flows/Reseller_Agreement-17.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_Reseller_Agreement_Acknowledged_Checked</name>
        <label>Is Reseller Agreement Acknowledged Checked</label>
        <locationX>265</locationX>
        <locationY>123</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUser.Account_Reseller_Agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reseller_Agreement</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUser.Account_Reseller_Agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>ContactID2</name>
        <dataType>String</dataType>
        <expression>{!ContactID.Id}</expression>
    </formulas>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <label>Reseller Agreement</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Reseller_Agreement_Acknowledged_c_Value</name>
        <label>Get Reseller_Agreement_Acknowledged__c Value</label>
        <locationX>77</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Reseller_Agreement_Acknowledged_Checked</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CurrentUser</outputReference>
        <queriedFields>Account_Reseller_Agreement__c</queriedFields>
        <queriedFields>Account_ID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Field</name>
        <label>Update User Field</label>
        <locationX>657</locationX>
        <locationY>125</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUser.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reseller_Agreement_Acknowledged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Reseller_Agreement</name>
        <label>Reseller Agreement</label>
        <locationX>457</locationX>
        <locationY>131</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_User_Field</targetReference>
        </connector>
        <fields>
            <name>Reseller_Agreement_Long</name>
            <defaultValue>
                <elementReference>ResellerAgreementText</elementReference>
            </defaultValue>
            <fieldText>Reseller Agreement</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>I_agree_to_the_Silver_Peak_Reseller_Agreement</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I acknowledge that I have read and agree with the above statement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please agree to the Silver Peak Partner Agreement to proceed.</errorMessage>
                <formulaExpression>{!I_agree_to_the_Silver_Peak_Reseller_Agreement}</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>Get_Reseller_Agreement_Acknowledged_c_Value</startElementReference>
    <textTemplates>
        <name>ResellerAgreementText</name>
        <text>With the approval of your application, you are now authorized to procure Silver Peak products from a local Silver Peak authorized distributor. You acknowledge that Silver Peak may terminate its approval for any reason upon thirty (30) days advance written notice. Upon termination of Silver Peak&apos;s approval, the applicant will no longer be authorized to procure Silver Peak products and will immediately cease use of all Silver Peak material, including but not limited to Silver Peak products, marketing material and Silver Peak trademarks.</text>
    </textTemplates>
    <variables>
        <name>AccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountTextID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
